html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
body {
    margin: 0;
    background-color: rgb(254,254,254);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    margin: .67em 0;
    font-size: 2em
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: Consolas, Monaco, Lucida Console, Courier New, Courier, monospace, serif
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    margin: 0 2px;
    border: 1px solid silver;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
strong {
	font-weight: 900;
}
@font-face {
    font-family: Mosk;
    src: url('./fonts/mosk_ultra-bold_900-webfont.woff2') format('woff2'),
         url('./fonts/mosk_ultra-bold_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: Mosk;
    src: url('./fonts/mosk_bold_700-webfont.woff2') format('woff2'),
         url('./fonts/mosk_bold_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: Mosk;
    src: url('./fonts/mosk_normal_400-webfont.woff2') format('woff2'),
         url('./fonts/mosk_normal_400-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: Mosk;
    src: url('./fonts/mosk_light_300-webfont.woff2') format('woff2'),
         url('./fonts/mosk_light_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}



.hidden {
    display: none!important
}
.u-inline-list {
    padding-left: 0
}
.u-inline-list>li {
    display: inline;
    list-style: none
}
.u-inline-spacing>li {
    margin: 0 .5em
}
.tl-block:after,
.tl-block:before,
.u-clearfix:after,
.u-clearfix:before {
    content: " ";
    display: table
}
.tl-block:after,
.u-clearfix:after {
    clear: both
}
.u-meta {
    color: #aaa
}
.u-sep {
    margin: 0 .5em
}
.u-nowrap {
    white-space: nowrap
}
.u-text-center {
    text-align: center
}
.u-small {
    font-size: .85em
}
.u-large {
    font-size: 1.125em
}
.u-detached {
    margin-top: 30px;
    margin-bottom: 30px
}
.button {
    margin: 0;
    border: 0;
    border-radius: 2px;
    padding: .25em .5em .35em;
    background-color: #49985c;
    color: #fff!important;
    font: 700 1rem Helvetica Neue, Arial, Helvetica, sans-serif;
    text-decoration: none
}
.fonts-loaded .button {
    font-family: Montserrat, Helvetica Neue, Arial, Helvetica, sans-serif
}
.button:active,
.button:hover {
    background-color: #085b4f
}
html {
    background-color: #fff;
    color: #111929;
    font: 1.375em Mosk;
    line-height: 1.6
}
html.fonts-loaded {
    font-family: ff-tisa-web-pro, Georgia, serif
}
.h-alpha {
    margin: .8em 0 .4em;
    color: 111929;
    font: 900 1.75em/1.2 Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: -.02em
}
.fonts-loaded .h-alpha {
    font-family: Montserrat, Helvetica Neue, Arial, Helvetica, sans-serif
}
.h-alpha .highlight {
    color: #d63599;
}
@media only screen and (min-width: 754px) {
    .h-alpha {
        font-size: 2.5em
    }
}
.h-alpha--green {
    color: #49985c
}
.h-alpha--green .highlight {
    color: #fff
}
.h-alpha--yellow {
    color: rgb(255, 241, 49);
}
.h-alpha--yellow .highlight{
    color: #fff;
}
.h-beta {
    color: #615f76;
    font: 700 1.8em Helvetica Neue, Arial, Helvetica, sans-serif
}
.fonts-loaded .h-beta {
    font-family: Montserrat, Helvetica Neue, Arial, Helvetica, sans-serif
}
.section-line {
    position: relative;
    width: 1.4em;
    margin: 0 auto;
    border: 3px solid #615f76;
    border-radius: 50%;
    background-color: #fff;
    color: #615f76;
    font: 700 .75em Helvetica Neue, Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    text-indent: .1em;
    text-align: center
}
.fonts-loaded .section-line {
    font-family: Montserrat, Helvetica Neue, Arial, Helvetica, sans-serif
}
.section-line:before {
    content: "";
    position: absolute;
    top: -150px;
    left: 50%;
    z-index: 0;
    width: 3px;
    height: 150px;
    margin-left: -1px;
    background-color: #615f76
}
.section-line--1 {
    margin-top: 15px
}
.section-line--2 {
    margin-top: -20px
}
.section-line--3 {
    z-index: 0;
    border-color: #fff;
    background-color: transparent;
    color: #fff
}
.section-line--3:before {
    top: -71px;
    height: 71px;
    background-color: #fff
}
.section-line--5 {
    z-index: 0
}
.section-line--5:before {
    top: -71px;
    height: 71px
}
.u-container {
    max-width: 1146px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px
}
.u-container--narrow {
    max-width: 754px
}
.u-container--detached {
    margin-top: 30px;
    margin-bottom: 30px
}
.u-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.u-grid-cell {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box
}
.u-grid--h-gutters-small {
    margin-left: -15px
}
.u-grid--h-gutters-small>.u-grid-cell {
    padding-left: 15px
}
.u-grid--h-gutters-medium {
    margin-left: -30px
}
.u-grid--h-gutters-medium>.u-grid-cell {
    padding-left: 30px
}
.u-grid--h-gutters-large {
    margin-left: -60px
}
.u-grid--h-gutters-large>.u-grid-cell {
    padding-left: 60px
}
@media only screen and (min-width: 754px) {
    .u-grid--h-gutters-large {
        margin-left: -30px
    }
    .u-grid--h-gutters-large>.u-grid-cell {
        padding-left: 30px
    }
}
.u-grid--v-gutters-small {
    margin-top: -15px
}
.u-grid--v-gutters-small>.u-grid-cell {
    padding-top: 15px
}
.u-grid--v-gutters-medium {
    margin-top: -30px
}
.u-grid--v-gutters-medium>.u-grid-cell {
    padding-top: 30px
}
.u-grid--v-gutters-large {
    margin-top: -60px
}
.u-grid--v-gutters-large>.u-grid-cell {
    padding-top: 60px
}
@media only screen and (min-width: 754px) {
    .u-grid--v-gutters-large {
        margin-top: -30px
    }
    .u-grid--v-gutters-large>.u-grid-cell {
        padding-top: 30px
    }
}
.u-grid--top {
    -ms-flex-align: start;
    align-items: flex-start
}
.u-grid--bottom {
    -ms-flex-align: end;
    align-items: flex-end
}
.u-grid--center {
    -ms-flex-align: center;
    align-items: center
}
.u-grid-cell--top {
    -ms-flex-item-align: start;
    align-self: flex-start
}
.u-grid-cell--bottom {
    -ms-flex-item-align: end;
    align-self: flex-end
}
.u-grid-cell--center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}
.u-grid--fit>.u-grid-cell {
    -ms-flex: 1;
    flex: 1
}
.u-grid--full>.u-grid-cell {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}
.u-grid--1of2>.u-grid-cell {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}
.u-grid--1of3>.u-grid-cell {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
}
.u-grid--1of4>.u-grid-cell {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
}
.u-grid--1of5>.u-grid-cell {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%
}
@media only screen and (min-width: 362px) {
    .u-grid--fit-at-small>.u-grid-cell {
        -ms-flex: 1;
        flex: 1
    }
    .u-grid--full-at-small>.u-grid-cell {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .u-grid--1of2-at-small>.u-grid-cell {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .u-grid--1of3-at-small>.u-grid-cell {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }
    .u-grid--1of4-at-small>.u-grid-cell {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }
    .u-grid--1of5-at-small>.u-grid-cell {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%
    }
}
@media only screen and (min-width: 754px) {
    .u-grid--fit-at-medium>.u-grid-cell {
        -ms-flex: 1;
        flex: 1
    }
    .u-grid--full-at-medium>.u-grid-cell {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .u-grid--1of2-at-medium>.u-grid-cell {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .u-grid--1of3-at-medium>.u-grid-cell {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }
    .u-grid--1of4-at-medium>.u-grid-cell {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }
    .u-grid--1of5-at-medium>.u-grid-cell {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%
    }
}
@media only screen and (min-width: 1146px) {
    .u-grid--fit-at-large>.u-grid-cell {
        -ms-flex: 1;
        flex: 1
    }
    .u-grid--full-at-large>.u-grid-cell {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .u-grid--1of2-at-large>.u-grid-cell {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
    .u-grid--1of3-at-large>.u-grid-cell {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }
    .u-grid--1of4-at-large>.u-grid-cell {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }
    .u-grid--1of5-at-large>.u-grid-cell {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%
    }
}
.u-centered-block {
    margin: 0 auto
}
.u-centered-block--10 {
    max-width: 950px
}
.u-centered-block--8 {
    max-width: 754px
}
.u-centered-block--6 {
    max-width: 558px
}
.u-centered-block--4 {
    max-width: 362px
}
.u-centered-block--2 {
    max-width: 166px
}
header {
	background-color: #ffff00;
}
.head {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 20px;
    font: .75em Helvetica Neue, Arial, Helvetica, sans-serif;
	margin: auto;
}
.fonts-loaded .head {
    font-family: Mosk, Helvetica Neue, Arial, Helvetica, sans-serif
}
.no-flexbox .head {
    overflow: hidden
}
.logo {
    display: inline-block
}
.no-flexbox .logo {
    float: left
}
.logo>img {
    height: 35px;
    vertical-align: middle
}
.logo--head {
    margin-right: .75em
}
@media only screen and (min-width: 1146px) {
    .logo--head {
        margin-right: 15px
    }
}
.share_icon {
	width: 30px;
}
.nav-global {
        margin: 0
}
.no-flexbox .nav-global {
    float: left
}
@media only screen and (min-width: 754px) {
    .nav-global {
    }
}
.nav-global_list {
    display: inline;
    padding-left: 0;
    line-height: 1.3;
    text-transform: uppercase
}
.nav-global_item {
    display: inline;
    margin-right: 1em;
    font-size: .9375em
}
.nav-global_item:last-child {
    margin-right: 0
}
@media only screen and (min-width: 362px) {
    .nav-global_item {
        font-size: 1em
    }
}
@media only screen and (min-width: 754px) {
    .nav-global_item {
        margin-right: 2em
    }
}
.nav-global_link:link,
.nav-global_link:visited {
    color: #ccc;
    text-decoration: none
}
.nav-global_link:active,
.nav-global_link:hover {
    color: #615f76;
    text-decoration: underline
}
.nav-global_link.is-current,
.nav-global_link.is-current:link,
.nav-global_link.is-current:visited {
    color: #615f76
}
.intro {
    position: relative;
    background-color: rgb(3,19,38);
    z-index: 1;
	height: 80vh;
}
.titulo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1em;
    line-height: 1;
    text-align: center;
}
.titulo_1 {
    display: block;
    margin-bottom: 0;
    font: 900 28px Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 8vmin;
	color: white;
}

@media only screen and (min-width: 1146px) {
    .tagline_1st {
        font-size: 62px
    }
}
.titulo_2 {
    display: block;
    width: 80%;
	color: white;
	font-size: 0.8em;
	font-family: Mosk;
	font-weight: 100;
	line-height: 1.2em;
}
.tarifometro {
    font-family: Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 900;
	font-size: 5.3vmin;
	padding: 0.1em 0.3em 0.2em;
	margin-top: 10vh;
	border-radius: 5px;
	transform: rotate(1deg) skew(-5deg);
	color: #d63599;
	background-color: #ffff00;
	width: 41vmin;
	text-align: left;
	float: left;
	margin-right: 0.5em;
	margin-left: 0.5em;
}
#tarifometro-2018 {
	width: 34vmin;
}
.tarifometro-plus {
	float: left;
	margin-top: 12vh;
	font-size: 5.3vmin;
	color: #ffff00;
}
.tarifometro-ano {
	color: #111929;
	font-size: 0.5em;
	text-align: center;
}
.tarifometro-numero {
	transform: rotate(-1deg) skew(5deg);
}
.tarifometro-img img {
	margin-top: 2em;
	width: 20vmin;
}
.tarifometro-saiba-mais {
	color: #ffff00;
	cursor: pointer;
	text-decoration: underline;
	font-size: 0.8em;
}
@media only screen and (max-width: 754px) and (orientation:portrait){
	.titulo_1 {
		font-size: 9vmin;
	}
	.titulo_2 {
		font-size: 0.7em;
	}
	.tarifometro {
		margin-top: 5vh;
		font-size: 8vmin;
		width: 63vmin;
		float: none;
	}
	#tarifometro-2017 {
		margin-top: 0;
	}
	#tarifometro-2018 {
		width: 51vmin;
		margin-left: auto;
		margin-right: auto;
	}
	.tarifometro-plus {
		float: none;
		margin: 0.5em 0;
	}
	.tarifometro-img img {
		margin-top: 1em;
		width: 30vmin;
	}
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@media only screen and (max-width: 754px) {

	#como_deve {
		padding: 0;
	}
}

#como_deve img {
	width: 100%;
	margin: 1em auto;
}
.products_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font: 0.9em Mosk, Helvetica Neue, Arial, Helvetica, sans-serif
}
@media only screen and (min-width: 754px) {
    .products_list {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin-right: -15px;
        margin-left: -15px
    }
}
.products_item {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 150px;
    margin: 0 0 15px;
    list-style: none
}
@media only screen and (min-width: 754px) {
    .products_item {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        min-width: 362px;
        margin: 15px
    }
}
.products_link {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 10px 25px;
    /*color: hsla(0, 0%, 100%, .66);*/
    text-align: center;
    text-decoration: none
}
.products_link--bs {
    background-color: white;
    color: #111929;
}
.products_link--db {
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #111929;
    color: white;
}
.products_link--pm {
    background-color: #d63599;
    color: white;
}
.product-tagline {
    display: block;
    margin-top: 15px
}
.stats {
    margin: 68px 0 0;
    padding: 30px 0 45px;
    background-color: #d63599;
}
.stats_title {
    margin: 0 0 .5em;
    text-align: center;
	color: white;
	font-family: Mosk;
	font-weight: 900;
	cursor: pointer;
}
.stats_title div {
	display: inline-block;
}
.stats_highlight {
	color: #ffff00;
}
@media only screen and (min-width: 1146px) {
    .stats_title {
        -ms-flex: 0 0 25%!important;
        flex: 0 0 25%!important;
        min-width: 25%;
        margin-bottom: 0;
        text-align: left
    }
}
.stats_item {
    font: 700 .8em/1.5 Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase
    color: #111929;
}

.stats_item_white {
	color: white;
}

.stats_item_yellow {
	color: #ffff00;
}
.stats_num {
    display: block;
    box-sizing: border-box;
    height: 80px;
    margin: 0 auto 10px;
    padding-top: 20px;
    background-size: 530px 138px;
    font: 900 3.125em Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
}
.stats_plus {
    position: relative;
    top: -.1em;
    font-size: .75em;
    line-height: 0
}
.stats_line {
    display: block
}
.rules {
    position: relative;
    padding-top: 68px;
    padding-bottom: 68px;
    background-color: #111929;
}
.rules .h-alpha {
    margin-bottom: 68px
}
.rules-wrap {
    -ms-flex-pack: start;
    justify-content: flex-start
}
.rule,
.rules-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}
.rule {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    max-width: 754px;
    margin-top: 30px
}
.rule:nth-child(2n) {
    -ms-flex-item-align: end;
    align-self: flex-end
}
@media only screen and (min-width: 362px) {
    .rule {
        -ms-flex-direction: row;
        flex-direction: row
    }
}
.rule_photo {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 166px;
    margin-bottom: -20px;
    background-color: hsla(0, 0%, 100%, .1)
}
.rule_photo img {
    width: 100%;
    height: auto
}
@media only screen and (min-width: 362px) {
    .rule_photo {
        margin-bottom: 0
    }
}
@media only screen and (min-width: 754px) {
    .rule_photo {
        max-width: 362px
    }
	.rule_box:hover {
    	background-color: #d63599;
    	color: #ffff00;
	}
	.rule:nth-child(2n) .rule_box:hover {
		background-color: #ffff00;
		color: #d63599;
	}
}
.rule_box {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    border: 5px solid #d63599;
    color: #fff;
    cursor: pointer;
}
.rule:nth-child(2n) .rule_box{
	border-color: #ffff00;
}
.rule_modal {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    width: 75vw;
    max-width: 700px;
    max-height: 80vh;
    overflow: auto;
}
.rule_modal p {
	max-width: 600px;
	margin: auto;
	margin-bottom: 1em;
	line-height: 1.5em;
	text-align: justify;
	hyphens: auto;
}

.rule_modal img {
	width: 100%;
}

.modal_header {
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5em;
}

.modal_close {
    font-weight: normal;
    float: right;
    cursor: pointer;
}

.modal_content {
	font-size: 0.8em;
    line-height: 1.1em;
}
.button_group {
	text-align: center;
}
.modal_content button {
	padding: 1em;
	background-color: #111929;
	color: white;
	border: none;
	border-radius: 5px;
	margin: 0.5em;
	font-weight: 900;
}
@media only screen and (min-width: 362px) {
    .rule_box {
        margin-left: -171px
    }
}
.rule_number {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 68px;
    margin: 0;
    font: 900 2.75em/1px Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
@media only screen and (min-width: 362px) {
    .rule_number {
        width: 166px;
        font-size: 4.5em
    }
}
.rule_text {
    -ms-flex: 1;
    flex: 1;
    padding: 30px 30px 35px
}
.rule_text p {
    margin: 0;
    line-height: 1.4
}
@media only screen and (max-width: 754px) {
	.rule_text {
		font-size: 0.8em;
	}
}
.timeline {
    position: relative;
    padding-top: 68px;
    padding-bottom: 68px;
    overflow: hidden;
    background-color: #f0f0f0
}
.timeline-wrap {
    margin: 68px 0 30px
}
@media only screen and (min-width: 754px) {
    .timeline-wrap {
        background: linear-gradient(#615f76, #615f76) repeat-y 50% 0;
        background-size: 3px 30px
    }
}
.tl-block {
    margin-top: 30px
}
.tl-block_period {
    box-sizing: border-box;
    margin: 30px 0
}
@media only screen and (min-width: 754px) {
    .tl-block_period {
        float: left;
        width: 50%;
        margin: 0 0 68px;
        padding: 0 83px;
        text-align: right
    }
}
.tl-block_context,
.tl-block_year {
    margin: 0
}
.tl-block_year {
    color: #d63599;
    font: 900 3.125em/1 Mosk, Helvetica Neue, Arial, Helvetica, sans-serif
}
@media only screen and (min-width: 754px) {
    .tl-block_year {
        font-size: 4.545em
    }
}
.tl-block_context {
    margin-top: .5em;
    color: #b0b0c5;
    font-style: italic;
    font-size: .77em;
    line-height: 1.4
}
.tl-block_event {
    position: relative;
    box-sizing: border-box
}
@media only screen and (min-width: 754px) {
    .tl-block_event {
        clear: right;
        float: right;
        width: 50%
    }
    .tl-block_event:hover {
        cursor: pointer;
    }
    .tl-block_event:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 49px;
        height: 3px;
        margin-top: -2px;
        background-color: #615f76
    }
    .tl-block_event:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 11px;
        height: 11px;
        margin: -9px 0 0 -9px;
        border: 3px solid #615f76;
        border-radius: 50%;
        background-color: #f0f0f0
    }
    .tl-block_event:hover:after {
        background-color: yellow;
    }
}
.tl-block_event-wrap {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 0 10px;
    border: 3px solid #615f76;
    padding: 1em 34px 1.2em
}
@media only screen and (min-width: 754px) {
    .tl-block_event-wrap {
        margin-left: 49px
    }
}
.tl-block_month {
    -ms-flex: 0;
    flex: 0;
    min-width: 2.5em;
    margin-right: 34px;
    font: .77em/1.95 Mosk, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase
}
.tl-block_desc {
    -ms-flex: 1;
    flex: 1
}
.tl-block_desc p {
    margin: 0;
    line-height: 1.4
}
.tl-block_desc a:link {
    color: #085b4f
}
.tl-block_desc a:visited {
    color: #748885
}
.tl-block_desc a:hover {
    color: #000
}
@media only screen and (min-width: 754px) {
    .tl-block:nth-child(2n) .tl-block_period {
        float: right;
        text-align: left
    }
    .tl-block:nth-child(2n) .tl-block_event {
        clear: left;
        float: left;
        text-align: right
    }
    .tl-block:nth-child(2n) .tl-block_event:before {
        right: 0;
        left: auto
    }
    .tl-block:nth-child(2n) .tl-block_event:after {
        right: 0;
        left: auto;
        margin-right: -9px;
        margin-left: 0
    }
    .tl-block:nth-child(2n) .tl-block_event-wrap {
        margin-right: 49px;
        margin-left: 0
    }
}
.tl-block_modifier {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto
}
.tl-block_modifier--tarifa-2008,
.tl-block_modifier--tarifa-2013,
.tl-block_modifier--tarifa-2014,
.tl-block_modifier--tarifa-2015,
.tl-block_modifier--tarifa-20152,
.tl-block_modifier--tarifa-2016,
.tl-block_modifier--tarifa-2017 {
    border: 3px solid #767698;
    background-size: 100%;
    box-shadow: inset 0 0 0 2px #f0f0f0
}
.tl-block_modifier--tarifa-2008 {
    top: -20px;
    right: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2008.png)
}
.tl-block_modifier--tarifa-2013 {
    top: -20px;
    left: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2013.png)
}
.tl-block_modifier--tarifa-2014 {
    top: -20px;
    right: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2014.png)
}
.tl-block_modifier--tarifa-2015 {
    top: -20px;
    left: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2015.png)
}
.tl-block_modifier--tarifa-20152 {
    top: -20px;
    left: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa20152.png)
}
.tl-block_modifier--tarifa-2016 {
    top: -20px;
    right: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2016.png)
}
.tl-block_modifier--tarifa-2017 {
    top: -20px;
    left: -15px;
    width: 80px;
    height: 80px;
    background-image: url(img/tarifas/tarifa2017.png)
}
.footer {
    padding: 30px 0;
    background-color: #ffff00;
}
.white {
	color: white;
}

#uglipop_overlay_wrapper, #uglipop_content_fixed {
	z-index: 2;
}
